.container {
  display: grid;
  grid-template-columns: 27% 73%;
}

.results {
  padding: 3rem 0;
}

.pages {
  margin-top: 3rem;
  padding: 0 3rem;
}

.pages::after {
  content: "";
  display: table;
  clear: both;
}
