<li local-class="ingredient" class="qa-ingredient">
  <svg local-class="icon">
    <use href="/assets/images/icons.svg#icon-check"></use>
  </svg>
  <div local-class="count" class="qa-ingredient-count">{{@count}}</div>
  <div class="qa-ingredient-description">{{concat @unit " " @description}}</div>
</li>