<div local-class="directions">
  <h2 class="heading-2">How to cook it</h2>
  <p local-class="text">
    This recipe was carefully designed and tested by
    <span local-class="author">{{@author}}</span>. Please check out directions at their website.
  </p>
  <a class="btn-small" href={{@url}} target="_blank" rel="noopener noreferrer">
    <span>Directions</span>
    <svg>
      <use href="/assets/images/icons.svg#icon-triangle-right"></use>
    </svg>
  </a>
</div>