<div local-class="ingredients" class="qa-recipe-ingredients">
  <ul local-class="ingredient-list">
    {{#each @ingredients as |ingredient|}}
      <Recipe::Ingredients::Ingredient
        @count={{ingredient.quantity}}
        @unit={{ingredient.unit}}
        @description={{ingredient.description}}
      />
    {{/each}}
  </ul>

  <button class="btn-small" type="button">
    <svg>
      <use href="/assets/images/icons.svg#icon-shopping-cart"></use>
    </svg>
    <span>Add to shopping list</span>
  </button>
</div>