<figure local-class="container" class="qa-recipe-details-image-container">
  <img src={{@url}} alt={{@title}} local-class="image" class="qa-recipe-details-image">
  <h1 local-class="title">
    <span class="qa-recipe-details-title">{{@title}}</span>
  </h1>
</figure>