.btn--left {
  float: left;
  flex-direction: row-reverse;
}

.btn--right {
  float: right;
}

.btn-inline {
  color: #F59A83;
  font-size: 1.2rem;
  border: none;
  background-color: #F9F5F3;
  padding: .8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s;
}

.btn-inline svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin: 0 .2rem;
}

.btn-inline span {
  margin: 0 .4rem;
}

.btn-inline:hover {
  color: #F48982;
  background-color: #F2EFEE;
}

.btn-inline:focus {
  outline: none;
}
