<div local-class={{if @isAnimating "overflow-hide"}}>
  <AnimatedContainer>
    <AnimatedIf
      @predicate={{@isVisible}}
      @use={{@animation}}
      @duration={{300}}
    >
      {{yield}}
    </AnimatedIf>
  </AnimatedContainer>
</div>
