<div>
  <h2 local-class="title"><span>Wishlist</span></h2>
  {{#each-in this.categories as |title items|}}
    <CollapsibleIf
      class="qa-categories"
      local-class="container"
      as |collapsible|
    >
      <collapsible.Title>{{capitalize title}}</collapsible.Title>
      <collapsible.Content>
        <div local-class="grid">
          {{#each items as |item|}}
            <WishlistItem @recipe={{item}} @category={{title}} @remove={{fn this.removeFromWishlist item.id}}/>
          {{/each}}
        </div>
      </collapsible.Content>
    </CollapsibleIf>
  {{/each-in}}
</div>
