.list {
  list-style: none;
}

.link:link,
.link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all .3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.link:hover {
  background-color: #F9F5F3;
  transform: translateY(-2px);
}

.link--active {
  background-color: #F9F5F3;
}

.image {
  flex: 0 0 5.5rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.5rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}

.image::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  opacity: .4;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}

.name {
  font-size: 1.3rem;
  color: #F59A83;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .3rem;
}

.author {
  font-size: 1.1rem;
  color: #968B87;
  text-transform: uppercase;
  font-weight: 600;
}
